@media screen and (max-width: 1399px) {
    .delivery {
        .delivery-slider {
            .slick-list {
                margin: 0 -15px;
            }
            .slick-arrow {
                position: absolute;
                &.slick-prev  {
                    left: -92px;
                }
                &.slick-next {
                    right: -92px;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .delivery {
        .delivery-slider {
            max-width: 749px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 1200px) {
    .cooperation .content-box .cooperation-decoration {
        max-width: 335px;
        margin-left: auto;
        margin-right: auto;
    }
    .cooperation .btn-coop {
        margin-left: auto;
        margin-right: auto
    }
    .decoration-about {
        width: 100%;
    }
}

