@media (min-width: 992px) {

    // глобальные стили с 992 и выше
section.calc {
    margin-top: 97px;
}

    .first-screen-slider {
        .slick-slide {
            padding: 0 92px;
            border-radius: 20px;
        }
        
        .container {
            padding-top: 164px;
            padding-bottom: 228px;
    
            .mb-first-screen{
                margin-bottom: 99px;
            }
        }
    }

    .calc .col-lg-7 h2::after {
        content: "";
        position: static;
        display: inline-block;
        width: 85px;
        height: 2px;
        margin: 10px 10px 10px 19px;
        background-color: #89C249;
    }
    .calc .template-title:after {
        display: none;
    }
}