.card-attr p {
    font-size: 14px;
    line-height: 124.5%; /* 17.43px */
    text-align: left;
    margin: 0;
    z-index: 1;
}
.card {
    min-height: 482px;
    display: flex;
    justify-content: space-between;
}


.services {
    position: relative;
    max-width: 1850px;
    margin: 0 auto;
    .template-title:after { 
        background-color: $color-primary;
    }
    .delivery {
        margin-bottom: 0;
    }
    padding-top: 90px;
    padding-bottom: 100px;;
    .card-content-box {
        text-align: left;
        z-index: 1;
    }
}
    
.bg-img-gradient::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0.00) 100%);
    z-index: 0;
}
.services .bg-img-1 {
    background-image: url(assets/img/services-1.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.services .bg-img-2 {
    background-image: url(assets/img/services-2.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.services .bg-img-3 {
    background-image: url(assets/img/services-3.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.services .bg-img-4 {
    background-image: url(assets/img/services-4.png);
    background-repeat: no-repeat;
    background-position: center center;
}