<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
            <div class="delivery-slider">
                <div class="wrapper-sliders">
                    <div class="card">
                        <div class="card-img-box">
                            <img class="img-fluid" src="assets/img/delivery-1.png" alt="delivery-variant" >
                        </div>
                        <div class="card-content-box">
                            <div class="card-title">
                                <h4>Авто - обычная</h4>
                            </div>
                            <div class="card-option">
                                <div class="card-attr">
                                    <div class="card-attr-item"> <img src="assets/img/icon-calendar.svg" alt="">9-15 дней</div>
                                    <div class="card-attr-item"> <img src="assets/img/icon-box.svg" alt=""> от 5 кг</div>
                            </div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <b>2,5</b>
                                <span>$/кг</span>
                            </div>
                            <div class="card-button-row">
                                <button type="button" class="btn btn-primary">Оставить заявку</button>
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-sliders">
                    <div class="card">
                        <div class="card-img-box">
                            <img class="img-fluid" src="assets/img/delivery-2.png" alt="delivery-variant" >
                        </div>
                        <div class="card-content-box">
                            <div class="card-title">
                                <h4>Авто - ускоренная</h4>
                            </div>
                            <div class="card-option">
                                <div class="card-attr">
                                    <div class="card-attr-item"> <img src="assets/img/icon-calendar.svg" alt="">5-7 дней</div>
                                    <div class="card-attr-item"> <img src="assets/img/icon-box.svg" alt=""> от 5 кг</div>
                            </div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <b>3,5</b>
                                <span>$/кг</span>
                            </div>
                            <div class="card-button-row">
                                <button type="button" class="btn btn-primary">Оставить заявку</button>
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-sliders">
                    <div class="card">
                        <div class="card-img-box">
                            <img class="img-fluid" src="assets/img/delivery-3.png" alt="delivery-variant" >
                        </div>
                        <div class="card-content-box">
                            <div class="card-title">
                                <h4>Поездом</h4>
                            </div>
                            <div class="card-option">
                                <div class="card-attr">
                                    <div class="card-attr-item"> <img src="assets/img/icon-calendar.svg" alt="">15 - 18 дней</div>
                                    <div class="card-attr-item"> <img src="assets/img/icon-box.svg" alt=""> от 15 кг</div>
                            </div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <b>2</b>
                                <span>$/кг</span>
                            </div>
                            <div class="card-button-row">
                                <button type="button" class="btn btn-primary">Оставить заявку</button>
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-sliders">
                    <div class="card">
                        <div class="card-img-box">
                            <img class="img-fluid" src="assets/img/delivery-4.png" alt="delivery-variant" >
                        </div>
                        <div class="card-content-box">
                            <div class="card-title">
                                <h4>Авиа</h4>
                            </div>
                            <div class="card-option">
                                <div class="card-attr">
                                    <div class="card-attr-item"> <img src="assets/img/icon-calendar.svg" alt="">2 - 3 дня</div>
                                    <div class="card-attr-item"> <img src="assets/img/icon-box.svg" alt=""> от 7 кг</div>
                            </div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <b>12,5</b>
                                <span>$/кг</span>
                            </div>
                            <div class="card-button-row">
                                <button type="button" class="btn btn-primary">Оставить заявку</button>
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper-sliders">
                    <div class="card">
                        <div class="card-img-box">
                            <img class="img-fluid" src="assets/img/delivery-5.png" alt="delivery-variant" >
                        </div>
                        <div class="card-content-box">
                            <div class="card-title">
                                <h4>На корабле</h4>
                            </div>
                            <div class="card-option">
                                <div class="card-attr">
                                    <div class="card-attr-item"> <img src="assets/img/icon-calendar.svg" alt="">21 - 35 дней</div>
                                    <div class="card-attr-item"> <img src="assets/img/icon-box.svg" alt=""> от 20 кг</div>
                            </div>
                            </div>
                            <div class="card-price">
                                <span>от</span>
                                <b>1,5</b>
                                <span>$/кг</span>
                            </div>
                            <div class="card-button-row">
                                <button type="button" class="btn btn-primary">Оставить заявку</button>
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>